<section class="feedbak">
  <div class="container">
    <h2 class="fed-title">Що говорять наші клієнти</h2>
    <ul class="fed-list">
      <li class="fed-item">
        <div class="fed-box">
          <ul class="star-list">
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <h3 class="fed-text">Відмінна якість матеріалів, приємно здивована.</h3>
          <p class="fed-name-text">Ігор</p>
        </div>
      </li>

      <li class="fed-item">
        <div class="fed-box">
          <ul class="star-list">
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <h3 class="fed-text">Сумка повністю відповідає опису, рекомендую!</h3>
          <p class="fed-name-text">Олена</p>
        </div>
      </li>

      <li class="fed-item">
        <div class="fed-box">
          <ul class="star-list">
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <h3 class="fed-text">Швидка доставка та гарне обслуговування.</h3>
          <p class="fed-name-text">Сергій</p>
        </div>
      </li>

      <li class="fed-item">
        <div class="fed-box">
          <ul class="star-list">
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-star chosen" width="20" height="19">
                <use href="/img/icon.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <h3 class="fed-text">Сумка дуже зручна та стильна, використовую щодня!</h3>
          <p class="fed-name-text">Анна</p>
        </div>
      </li>
    </ul>
  </div>
</section>
