<section class="feedbak">
    <div class="container">
        <h2 class="feed-title"> Test in Feedback Section</h2>
        <p class="fed-text">Наші сумки виготовлені з екологічно чистих матеріалів, 
            що забезпечують стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну відповідальність.</p>
        <svg class="" width="" height="">
            <use href="../img/logo.svg#icon-logo"></use>
        </svg>
        <svg class="" width="24" height="24">
            <use href="../img/icon.svg#icon-burger"></use>
        </svg>
        <svg class="" width="24" height="24">
            <use href="../img/icon.svg#icon-btn-close"></use>
        </svg>
        <svg class="" width="24" height="24">
            <use href="../img/icon.svg#icon-LinkedIn"></use>
        </svg>
        <svg class="" width="24" height="24">
            <use href="../img/icon.svg#icon-Instagram"></use>
        </svg>

        <svg class="" width="24" height="24">
            <use href="../img/icon.svg#icon-Youtube"></use>
        </svg>
        <svg class="" width="24" height="24">
            <use href="../img/icon.svg#icon-star-green"></use>
        </svg>
        <svg class="" width="24" height="24">
            <use href="../img/icon.svg#icon-star-black"></use>
        </svg>
        <svg class="" width="24" height="24">
            <use href="../img/icon.svg#icon-Favicon"></use>
        </svg>
        
    </div>
</section>