<footer class="footer">
  <div class="container">
  <nav class="footer-nav">
    <a href="../index.html" class="footer-logo">
      <svg class="footer-logo-icon" width="281" height="121">
        <use href="../img/logo.svg#icon-logo"></use>
      </svg>
    </a>
    <ul>
      <li><a href=”#about”>Про нас</a></li>
      <li><a href=”#advantages”>Переваги</a></li>
      <li><a href=”#assortment”>Асортимент</a></li>
      <li><a href=”#gallery”>Галерея</a></li>
      <li><a href=”feedback”>Відгуки</a></li>
      <li><a href=”support”>Контакти</a></li>
    </ul>
    <div>
      <ul>
        <li>
          <a href="">
            <svg width="32" height="33">
              <use href="../img/icon.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="32" height="33">
              <use href="../img/icon.svg#icon-LinkedIn"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="32" height="33">
              <use href="../img/icon.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
   </nav>
   <address>
    <ul>
      <li><a href="tel:+380999091122">+38 (099) 909 11 22</a></li>
      <li><a href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
    </ul>
    <p>&copy; 2025 EcoTote. Всі права захищені.</p>
   </address>
  </div>
</footer>
