<section class="galery">
  <div class="container galery-container-wrap">
    <h2 class="galery-title">Галерея зображень</h2>
    <p class="galery-text">EcoTotes у повсякденному житті</p>
    <ul class="galery-list">
      <li class="galery-item">
        <div class="galery-cover-img gl-item-one">
          <picture>
            <source
              srcset="
                ../img/gallery-img/ecobag-desc-min.jpg    1x,
                ../img/gallery-img/ecobag-desc@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="421"
            />
            <source
              srcset="
                ../img/gallery-img/ecobag-tab-min.jpg    1x,
                ../img/gallery-img/ecobag-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="340"
            />
            <source
              srcset="
                ../img/gallery-img/ecobag-mobile-min.jpg    1x,
                ../img/gallery-img/ecobag-mobile@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="galery-image gl-image-ecobag"
              src="../img/gallery-img/ecobag-desc-min.jpg"
              alt="ecobag"
              width="421"
              height="421"
            />
          </picture>
        </div>
      </li>

      <li class="galery-item">
        <div class="galery-cover-img gl-item-two">
          <picture>
            <source
              srcset="
                ../img/gallery-img/black-guy-desc-min.jpg    1x,
                ../img/gallery-img/black-guy-desc@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="865"
            />
            <source
              srcset="
                ../img/gallery-img/black-guy-tab-min.jpg    1x,
                ../img/gallery-img/black-guy-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="700"
            />
            <source
              srcset="
                ../img/gallery-img/black-guy-mobile-min.jpg    1x,
                ../img/gallery-img/black-guy-mobile@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="galery-image gl-image-black-guy"
              src="../img/gallery-img/black-guy-desc-min.jpg"
              alt="black-guy"
              width="421"
              height="865"
            />
          </picture>
        </div>
      </li>

      <li class="galery-item">
        <div class="galery-cover-img gl-item-three">
          <picture>
            <source
              srcset="
                ../img/gallery-img/lady-from-back-desc-min.jpg    1x,
                ../img/gallery-img/lady-from-back-desc@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="865"
            />
            <source
              srcset="
                ../img/gallery-img/lady-from-back-tab-min.jpg    1x,
                ../img/gallery-img/lady-from-back-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="700"
            />
            <source
              srcset="
                ../img/gallery-img/lady-from-back-mobile-min.jpg    1x,
                ../img/gallery-img/lady-from-back-mobile@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="galery-image gl-image-lady-from-back"
              src="../img/gallery-img/lady-from-back-desc-min.jpg"
              alt="lady-from-back"
              width="421"
              height="865"
            />
          </picture>
        </div>
      </li>

      <li class="galery-item">
        <div class="galery-cover-img gl-item-four">
          <picture>
            <source
              srcset="
                ../img/gallery-img/lady-front-desc-min.jpg    1x,
                ../img/gallery-img/lady-front-desc@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="421"
            />
            <source
              srcset="
                ../img/gallery-img/lady-front-tab-min.jpg    1x,
                ../img/gallery-img/lady-front-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="340"
            />
            <source
              srcset="
                ../img/gallery-img/lady-front-mobile-min.jpg    1x,
                ../img/gallery-img/lady-front-mobile@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="galery-image gl-image-lady-front"
              src="../img/gallery-img/lady-front-desc-min.jpg"
              alt="lady-front"
              width="421"
              height="421"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
